<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}

    <style type="text/css">
        a.nav-link{
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;

        }
        body{
            background-color: #F2ECFF;
        }
    </style>

</head>
<body>
{% load bootstrap4 %}
{% bootstrap_css %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static 'gmaps/img/logo2.png' %}" width="140" height="65" class="d-inline-block align-top" alt="">
  </a>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">



      <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Noticias <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Comisarias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'comisaria' %}">Comisarias</a>
                  <a class="dropdown-item" href="{% url 'test' %}">Cargar Data</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
             </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'denunciar' %}">Denuncias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'estadistica' %}">Estadísticas</a>
            </li>
        </ul>

    <a href="/logout">
        <button class="btn btn-success my-2 my-sm-0">Cerrar Sesion</button>
    </a>
</nav>
<div class="context">{% block container %}{% endblock %}</div>


{% block scripts %}{% endblock %}

{% bootstrap_javascript jquery='full' %}
</body>

</html>